.header {
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 44px;
    }
    &__logo {
        width: 6%;
    }
    &__menu {
        width: 74%;
    }
    &__request {
        width: 20%;
    }
}

.menu {
    &__list {
        display: flex;
        padding-left: 64px;
    }
    &__link {
        list-style-type: none;
        a {
            cursor: pointer;
            text-decoration: none;
            margin: 0px 0px 0px 40px;
            color: $gray;
            font-family: $fontFamilyAvenir;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
        }
        a:hover {
            color: $blue;
            text-decoration: underline $violet;
        }
    }
}

.active a {
    color: $blue;
    font-weight: 400;
}

.btn {
    &__requestDemo {
        display: inline-flex;
        text-decoration: none;
        height: 55px;
        width: 187px;
        background: $white;
        box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        span {
            color: $blue;
            font-family: $fontFamilyAvenir;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.005em;
        }
    }
    &__requestDemo:hover {
        border: 1px solid $gray;
    }
}