@import url("https://fonts.googleapis.com/css?family=Avenir");
@import url("https://fonts.googleapis.com/css?family=Helvetica");
@import url("https://fonts.googleapis.com/css?family=Rubik");
$fontFamilyAvenir: "Avenir";
$fontFamilyHelvetica: "Helvetica";
$fontFamilyRubik: "Rubik";
$gray: #4B5D68;
$blue: #212353;
$violet: #9C69E2;
$pink: #F063B8;
$white: #FFFFFF;
$maxWidthContainer: 1020px;